        <div class="dropdown-menu_">
          <span id="back2" class="mobile_backbtn2"><img src="/images/icons/noun_back_2784520.png"  style="height:28px;width:28px;"/></span>
          <button id="menu_active" class="menu-btn">Latest</button>
          <div class="top_header_search_box"><input style="display: none" type="text" id="myInput" onkeyup="myFunc()" name="search" placeholder="Search"><i id="search_icon" class="fa fa-search icon"></i>
          <!-- <button style="display: none" id="search_clear_btn">Clear</button> -->
          </div>

          <div class="menu-content">
            <%if (false) {%>
            <div id="private_click" class="pointer links" onClick='function_pvt()'>
              <li id="private" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-user dropdown-content1" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_Email_3449902.png" class="dropdown-content1" />
                  Private Messages</h4>
              </li>
            </div>
            <div id="group_click" class="pointer links" onClick='function_category()'>
              <li id="group" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i style="font-size:18px" class="fa dropdown-content2">&#xf0c0;</i> -->
                  <img src="/images/icons/noun_group_195974.png" class="dropdown-content2"/>
                  Groups</h4>
              </li>
            </div>
            <% } %>
            <div id="partner_click" class="pointer links" onClick='function_partners()'>
              <li id="partner" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-user dropdown-content1" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_Partner_1133237.png" class="dropdown-content1" />
                  Partners</h4>
              </li>
            </div>
            <div id="course_click" class="pointer links" onClick='function_courses()'>
              <li id="course" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i style="font-size:18px" class="fa dropdown-content2">&#xf0c0;</i> -->
                  <img src="/images/icons/noun_online_course_3306259.png" class="dropdown-content2"/>
                  Courses</h4>
              </li>
            </div>
            <div id="category_click" class="pointer links" onClick='function_category_common()'>
              <li id="category" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-list-alt dropdown-content3" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_Category_2706222.png" class="dropdown-content3" />            
                  Categories</h4>
                <h5>
                </h5>
              </li>
            </div>
            <div id="latest_click" class="pointer links" onClick='function_latestposts()'>
              <li id="latest" class="" data-toggle="" data-target="">
                <h4 class="menu_move">
                  <!-- <i class="fa fa-list-alt dropdown-content3" aria-hidden="true"></i> -->
                  <img src="/images/icons/noun_update_16530231.png" class="dropdown-content3" />            
                  Latest</h4>
                <h5>
                </h5>
              </li>
            </div>

          </div>
        </div>