  <div>
  <button aria-label="New Resource" id="plus_btn" class="btn-default" type="button">
    <i class="fa fa-plus" aria-hidden="true"></i>
    <!-- <span class="btn_text">Create a Topic/Send a Private Message</span> -->
  </button>
  <button style="display: none;" aria-label="Create a New Topic" id="create-topic" class=" actions_btn" type="button">
    <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
    <span style="display: none;" class="btn_text">New Resource</span>
  </button>
  <button style="display: none;" aria-label="Send a Private Message" id="create-message" class=" actions_btn" type="button">
    <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
    <span style="display: none;" class="btn_text">New Message</span>
  </button>

  </div>
  <div id="details-form" class="detail_form">
    <button style="display: none;" id="back_btn_for_dm"><img src="/images/icons/noun_back_2784520.png" style="height:35px;width:35px;"/></button>
    <input style="display: none;" id="topic_title" type="text" name="topic_title" placeholder="Type Resource title" required=''>
    <div id="select_usr_grp_div">
    <input style="display: none" id="select_usr_grp" type="text" name="user_grp_search" placeholder="Select user/s and/or group/s" autocomplete="off" required=''>
    <ul id="searched_user"></ul>
    </div>
    <!-- <input style="display: none" id="select_usr_grp" type="text" name="user_grp_search" placeholder="Select users and groups" list="users1" autocomplete="off" required=''> -->
    <!-- <datalist id='users1'> -->
    <!-- </datalist> -->
    <select style="display: none" id="select_category_id" placeholder="select a category...">
      <option value="">Select a category</option>
    </select>
 <!--    <textarea id="text_editor" class="text_editor" name="text_editor" placeholder="Start the conversation..." ></textarea> -->
    <!--<button onclick="submit_data()">Submit</button>-->

    <div id="text_editor" class="editor_widget" style="display: none">
      <div class="im_attach pull-left">
        <input id="upload_files1" type="file" multiple="multiple" title="Send file" class="im_attach_input">
        <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
      </div>

      <textarea id="replyMessage1" class="composer_rich_textarea" name="replyMessage1" placeholder="Your feedback or ask any question or discuss the topic......" ></textarea>

      <div class="im_attach pull-right">
        <button id="saveDelta1" class="save_btn" type="button" title="Submit"></button>
        <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>